body{
	background-color: grey;
	background-image: url("https://img3.goodfon.com/original/2048x1152/8/49/noch-derevo-devochka-mishka.jpg");
	background-size: 100%;
}

h4{
	color: white;
}

h2{
	color: white;
}

.footer{
	position: fixed;
	bottom: 150px;
	right: 100px;
	color: grey
}

.wordArea{
	text-align: center;
	padding-top: 150px;
	color: white;
	font-size: 40px;
}

.btn{
	opacity: .2;
}

#correctLetters{
	padding-left: 20%;
}

#guessedLetters{
	font-size: 36px;
	color: white;
}