tr:nth-child(even) {
    background-color:rgba(255, 255, 255, 0.5);
    text-shadow:
		-1px -1px 0 rgb(255, 255, 255),
		1px -1px 0 rgb(255, 255, 255),
		-1px 1px 0 rgb(255, 255, 255),
		1px 1px 0 rgb(255, 255, 255);
}

tr:nth-child(odd) {
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
}

th {
    background: #000000;
    color: azure;
}

.fake-link {
    cursor: pointer;
}

.fake-link:hover {
    text-decoration: underline;
}
#scrollBox {
    overflow: auto;
    height: 205px;
}
.topBanner {
    text-align: center;
    text-shadow:
		-1px -1px 0 rgb(255, 255, 255),
		1px -1px 0 rgb(255, 255, 255),
		-1px 1px 0 rgb(255, 255, 255),
		1px 1px 0 rgb(255, 255, 255);
}
body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.clickable{
    cursor: pointer;
}